<!DOCTYPE HTML>
<html>

<head>
	<link type="text/css" rel="stylesheet" href="style.css">
	<title>Home</title>
</head>

<body>

	<h1>This is a site where you can look up stuff you might want to know, like movies, stocks, and images.</h1>
	
	<h2>What would you like to search?</h2>

	<nav>
		<div><a href= "/images">Images</a></div>
		<div><a href="/movies">Movies</a></div>
		<div><a href="/stocks">Stocks</a></div>
	</nav>

</body>

</html>



