<!DOCTYPE HTML>
<html>

<head>
	<link type="text/css" rel="stylesheet" href="style.css">
	<title>Images</title>
</head>

<body>

	<p>Type in a keyword to find an image.</p>

	<form action="/images" method="get">
		<input type="text" name="image">

		<button>Find</button>

	</form>

	<p>The result is: <%= @result %>. Now you know.</p>

</body>

</html>