<!DOCTYPE HTML>
<html>

<head>
	<link type="text/css" rel="stylesheet" href="style.css">
	<title>Movies</title>
</head>

<body>

	<p>Type in a movie title below to find some movie stats.</p>

	<form action="/movies" method="get">

		<input type="text" name="movie">
		<button>Find</button>

	</form>

	<p>The result is: <%= @result.inspect %>. Now you know.</p>

</body>

</html>